/* "Caderno CSS de Caligrafia" */
p, h1, h2, h3, h4, h5, h6, span, img, a {
    border: 2px dashed gray;
}  

/* Alura Barbearia */
body {

}

.titulo-principal {
    padding-left: 20px;
}

header {

}

div {

}

#banner {
    width: 100%;
}

.principal {
    background: #CCC ;
    padding: 30px;
}

.titulo-centralizado {
    text-align: center;
}



p {
    text-align: center;
}

div {

}

.beneficios {
    background: #fff;
    padding: 20px;
}


ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios {
    width: 50%;
}
.itens {
    font-style: italic;
}

#missao {
    font-size: 20px;
}

em strong {
    color: #ff0000;
}



